/* Reviews or Why us section */

#why-us {
  padding: 0px;
  background-image: url('../../img/whyUs2/whyUSbg.jpeg');
  background-size: cover;
}

.why-us-container {
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.why-us-container h1 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  padding: 20px
}

.why-us-container #intro_para {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.why-us-container .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 50px;
}

.flip-card {
  height: 100%;
  border-radius: 20px;
  max-width: 400px;
  width: 30%;
  padding: 20px;
  background-color: rgb(217 210 62 / 73%);
}

.flip-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.flip-card-inner :hover {
  transform: scale(1.03);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.flip-card-front img {
  width: 30%;
  height: auto;
  justify-content: center;
  border-radius: 50%;
}

.flip-card-front h4 {
  color: white;
  text-align: center;
  font-size: 22 px;
  margin: 0px 5px;
}

.flip-card-front p {
  font-size: 14px;
  color: #241b07;
}

.flip-card-back h4 {
  color: #242424;
  font-size: 16px;
}

.flip-card-back p {
  color: black;
  text-align: justify;
  margin: 0px;
  font-size: 14px;
}

@media (max-width:770px) {
  .why-us-container .card-container {
    padding: 0px 10px;
  }
}

@media (max-width:650px) {
  .why-us-container .card-container {
    flex-direction: column;
    align-items: center;
  }

  .flip-card {
    width: 100%;
    margin: 10px 0px;
  }
}



/* our guarantee */

.our-gurantee {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  padding: 40px;
}


.our-gurantee h1 {
  color: #000000;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding: 10px;
}

.our-gurantee h3 {
  color: #323232;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
  min-height: 280px;
}

.para {
  order: 2;
  padding: 5px;
  width: 50%;
  margin: auto;
}

.para p {
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  letter-spacing: normal;
  color: #2d2d2d;
}

.what-we-provide-1,
.what-we-provide-2 {
  /* border: 2px solid; */
  padding: 5px 10px;
  width: 23%;
}

.what-we-provide-1 {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.what-we-provide-2 {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.inner-content {
  display: flex;
  align-items: center;
}

.inner-content img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.inner-content h3 {
  color: #c12930;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
}


@media (max-width:960px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .para {
    grid-column: 1/3;
    order: 1;
    width: 100%;
  }

  .what-we-provide-1 {
    padding-left: 50px;
    grid-column: 1/2;
    order: 2;
    width: 100%;
  }

  .what-we-provide-2 {
    padding-right: 50px;
    grid-column: 2/3;
    order: 3;
    width: 100%;
  }

  .inner-content {
    margin: 5px;
  }
}

@media (max-width:520px) {
  .main-container {
    display: block;
  }

  .what-we-provide-1,
  .what-we-provide-2 {
    padding: 0px 5px;
  }

  .para p {
    font-size: 14px;
  }
}

/* Sample and Example Works */
.our-samples {
  background-color: #fcfcfc;
}

.our-samples .container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-samples h1 {
  color: #000000;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}


.our-samples h3 {
  color: #323232;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width:430px) {
  .our-samples h1 {
    font-size: 32px;
  }

  .our-samples h3 {
    font-size: 16px;
  }

}

.sample-images {
  width: 100%;
}

.sample-images img {
  object-fit: contain;
  width: 100%;
}

/* If viewing of mobile remove the bg.svg image */
@media (max-width:650px) {
  .sample-images {
    display: none;
  }

}

/* Work Sampels CSS */

.samples_container {
  margin: 10px;
  padding: 10px 40px;
}

.work-samples {
  min-height: 300px;
  margin: 40px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  overflow: hidden;
  width: 33%;
  margin: 10px;
  border-radius: 20px !important;
  padding: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
}

.card img {
  max-height: 350px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  /* border: 2px solid; */
  transition: all ease-in-out 0.5s;
}

.card-body {
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -10px;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}

.work-samples .card:hover img {
  top: 40%;
}

.work-samples .card:hover .card-body {
  opacity: 1;
  bottom: 0px;
}

.card-body h5 {
  text-align: center;
  font-weight: 600;
  color: #e69309;
}

.card-body p {
  text-align: justify;
  color: rgb(206, 206, 206);
}

/* For Tablets */

@media (max-width:770px) {
  .samples_container {
    padding: 10px 20px;
  }

  .card {
    margin: 5px;
    padding: 5px;
  }

  .card img {
    position: static;
    transform: translate(0, 0);
  }

  .card-body {
    padding: 8px !important;
    opacity: 1;
    position: static;
    background-color: transparent;
  }

  .card-body p {
    color: gray;
  }
}

@media (max-width:670px) {
  .work-samples {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card-body {
    padding: 10px !important;
  }
}