/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding: 90px 0;
    background: #7a7d80 top center no-repeat;
    position: relative;
}

.about:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .container {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #c12930;
    line-height: 1;
}

.about .content p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 15px;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 25px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #c12930;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #c12930;
}

.about .content .btn-learn-more:hover {
    background: #c12930;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .about {
        padding: 60px 0;
    }
}


/*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
.clients .swiper-slide img {
    opacity: 0.7;
    transition: 0.3s;
    width: 100%;
}

.clients .swiper-slide:hover img {
    opacity: 1;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #c12930;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #c12930;
}

.clients .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.clients .owl-item img {
    width: 60%;
    opacity: 0.5;
    transition: 0.3s;
}

.clients .owl-item img:hover {
    opacity: 1;
}

.clients .owl-nav,
.clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.clients .owl-dot.active {
    background-color: #c12930 !important;
}


/*--------------------------------------------------------------
  # whyy Us
  --------------------------------------------------------------*/
.whyy-us {
    background: #f2f2f2;
    padding: 35px 0px;
}

.whyy-us .content {
    padding: 60px 100px 0 100px;
}

.whyy-us .content h3 {
    font-weight: 400;
    font-size: 34px;
}

@media (max-width:376px) {
    .whyy-us .content h3 {
        font-size: 30px;
    }
    
}

.whyy-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.whyy-us .content p {
    font-size: 15px;
    color: #848484;
}

.whyy-us .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

.whyy-us .accordion-list {
    padding: 0 100px 60px 100px;
}

.whyy-us .accordion-list ul {
    padding: 0;
    list-style: none;
}

.whyy-us .accordion-list li+li {
    margin-top: 15px;
}

.whyy-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.whyy-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.whyy-us .accordion-list span {
    color: #c12930;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.whyy-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.whyy-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.whyy-us .accordion-list .icon-show {
    display: none;
}

.whyy-us .accordion-list a.collapsed {
    color: #343a40;
}

.whyy-us .accordion-list a.collapsed:hover {
    color: #f3474e;

}

.whyy-us .accordion-list .shad:hover {
    color: #f3474e;
    transform: scale(1.8);
    /* Scale up by 20% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */

}

.whyy-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.whyy-us .accordion-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1024px) {

    .whyy-us .content,
    .whyy-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .whyy-us .content {
        padding-top: 30px;
    }

    .whyy-us .accordion-list {
        padding-bottom: 30px;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
.services .icon-box {

    margin-bottom: 20px;
    padding: 50px 40px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    /* Adjust the gap between the cardsss as needed */
}

.cardss-container {
    flex: 1 0 21%;
    /* Four cardsss per row */
    max-width: 250px;
}

.cardss {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
    height: 95%;
}

.cardss-container {
    transition: transform 0.3s ease;
}

.cardss:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    z-index: 1000;
    scale: 1.05;
}

.cardss-img-top {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    margin: 1rem auto;
    /* Center the image with margin */
}

.cardss-img {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    margin: 0.5rem auto;
    /* Center the image with margin */

}

.cardss-body {
    padding: 1rem;
    overflow: hidden;
}

.cardss-bodyy {
    padding: 1rem;
    overflow: hidden;
}


.cardss-body h4 a {
    margin: 1rem 0 0.5rem;
    font-size: 0.8rem;
    /* Adjusted font size */
    color: black;
    /* Adjusted color */

}

.cardss-bodyy h4 a {
    margin: 0;
    font-size: 0.8rem;
    /* Adjusted font size */
    color: black;
    /* Adjusted color */

}

.cardss-body p {
    margin: 0;
    font-size: 0.75rem;
    /* Adjusted font size */
    color: #797979;
    /* Adjusted color */
    overflow: hidden;
}

.cardss-bodyy p {
    margin: 0;
    font-size: 0.75rem;
    /* Adjusted font size */
    color: #797979;
    /* Adjusted color */
    overflow: hidden;
}

/* Media Query for Small Devices */
@media (max-width: 1200px) {
    .cardss-container {
        flex: 1 0 100%;
        /* Full width for each cardss */
        max-width: 40%;
        /* Full width for each cardss */
    }
}

@media (max-width: 800px) {
    .cardss-container {
        flex: 1 0 100%;
        /* Full width for each cardss */
        max-width: 80%;
        /* Full width for each cardss */
    }

    .cardss {
        height: auto;
        /* Auto height for small devices */
    }
}

.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.services .icon-box h4 a:hover {
    color: #0880e8;
}

.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    background-color: #fcfcfc;
}

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}

.section-title h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-title p {
    color: #9e9a9a;
}

.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #c12930;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1.5px;
    background: #c12930;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #ecf6fe;
    color: #c12930;
}

.team .member .social a i {
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: #c12930;
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}